.user_wrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  border-bottom:1px solid rgba(211, 226, 255, 0.11);
  cursor: pointer;
  transition: all .2s ease;
  &:hover{
    background-color: rgba(211, 226, 255, 0.11);
  }

  .user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .user_detail {
      display: flex;
      align-items: center;
      border-top: rgba(211, 226, 255, 0.11);
      border-bottom: rgba(211, 226, 255, 0.11);
      padding: 5%;

      h4 {
        margin-left: 10px;
        color: var(--white);
      }

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid var(--blue);
      }

      .unread {
        margin-left: 10px;
        background-color: cornflowerblue;
        color: white;
        padding: 2px 4px;
        border-radius: 10px;
      }
    }

    .user_status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .online {
      background-color: #34eb52;
    }

    .offline {
      background-color: red;
    }
  }

  .truncate {
    font-size: 0.8rem;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
    font-weight: 400;
    strong {
      margin-right: 2px;
    }
  }
}

.small_screen {
  display: none;
}

.selected_user {
  background-color: rgba(211, 226, 255, 0.11);
}

@media screen and (max-width: 576px) {
  .user_wrapper {
    display: none;
  }

  .small_container {
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid var(--gray);
    }

    .small_screen {
      display: inline-block;
    }
  }

}