nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2%;
  height: 3vh;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(8px);


  div{
    a{
      margin-right: 20px;
      font-weight: 500;
    }
  }

  a{
    color: white;
    text-decoration: none;

    &.active{
      font-weight: bold;
    }
  }
  button{
    background: transparent;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    outline: none;
    &:hover{
      cursor: pointer;
    }
  }
}