.message_form {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  padding: 5px 20px;
  margin: 0 auto;


  label {
    position: relative;

    .upload {
      width: 30px;
      height: 30px;
      transition: all .3s ease;
      &:hover{
        cursor: pointer;
        transform: scale(1.2);
      }
    }
    .image_true{
      position: absolute;
      top: 0;
      right: -8px;
      background-color: var(--red);
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  .input_send {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    input {
      height: 1rem;
      padding: 20px !important;
      width: 50rem;
      text-align: start;
      background-color: rgba(0,0,0,0.1);
      color: white;
      &::placeholder{
        color: rgba(255,255,255,0.2);
      }
      &:focus{
        border-color: rgba(255,255,255,0.4) !important;
      }
    }

    .btn {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255,255,255,0.2);
      transition: all .3s ease;
      img {
        width: 25px;
        height: 25px;
      }

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }



}

@media screen and (max-width: 600px) {
  .message_form {
    left: 3%;
    right: 0;

    label {
      .up {
        width: 20px;
        height: 20px;
      }
    }

    input {
      width: 50vw;
      height: 10px;
      margin: 0px 10px;
      font-size: 12px;
    }

    .btn {
      font-size: 12px;
      padding: 2px 5px;
    }
  }
}